.sidebar_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .logo {
    text-align: start;
    margin: 1rem 0 0 1rem;

    img {
      width: 130px;
      height: 40px;
      block-size: auto;
    }

    img:hover {
      cursor: pointer;
    }
  }
  .profile_icon {
    width: 48px;
    height: 48px;
    margin: 1rem 1rem 1rem 1rem;
    justify-content: start;
  }
}
@media (max-width: 500px) {
  .sidebar_container {
    flex-direction: row;
    justify-content: space-between; /* Align logo and profile icon on opposite ends */
    width: 100%;
  }
}
